build/
artifacts/
test-results/
playwright-report/
playwright/.cache/

*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
node_modules
bower_components
release
vendor
phpunit.xml
.idea

index.php
debug.log
uploads
upgrade
cache